@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'ss01' on, 'ss03' on;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.02em;

  @apply bg-neutral-100 text-neutral-500;
}
#__next {
  @apply flex flex-col;
}

.container {
  @apply px-3 sm:px-8;
}


/*
 * Animations
 */

@keyframes iconIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.6, 0.6, 0, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  40% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.iconIn {
  animation-name: iconIn;
}
